In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-macosx_14_0_arm64.whl (17.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 10.1 MB/s  0:00:01 eta 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
from mysql import connector

In [19]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="VFFarmy@123",
)

print("connected:", conn.is_connected())

connected: True

In [20]:
cursor = conn.cursor()
cursor.execute("SHOW DATABASES")
print("Databases installed :")

Databases installed :

In [22]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="VFFarmy@123"
)
cursor = conn.cursor()

print("connected:", conn.is_connected())

connected: True

In [24]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Student_db")
print("Database created successfully")

Database created successfully

In [37]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="VFFarmy@123",
    database="Student_db"
)       
cursor = conn.cursor()
print("connected:", conn.is_connected())

connected: True

In [52]:
cursor.execute("CREATE TABLE Students (id INT  PRIMARY KEY, name VARCHAR(255), age INT)")
print("Table created successfully")

InternalError: Unread result found

In [46]:
cursor.execute("INSERT INTO Students (id,name, age) VALUES (01,'Bob', 22) ")
print("Record inserted successfully")

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [33]:
cursor.execute("select * from Students")

In [49]:
sql = "insert into Students (id,name, age) values (%s,%s, %s)"
val = [
    (2,'David', 24),
    (3,'Eva', 25),
    (4,'Frank', 26)
]
cursor.executemany(sql, val)
conn.commit()
print(cursor.rowcount, "records inserted successfully.")

3 records inserted successfully.

In [56]:
rec = cursor.fetchall()
cursor.execute("SELECT * from Students")

for r in rec:
    print(r)

(2, 'David', 24)
(3, 'Eva', 25)
(4, 'Frank', 26)

In [61]:
c=conn.cursor()
c.execute("update Students set name = 'miya' where id = 2",)
conn.commit()

InternalError: Unread result found